title = "{{configTitle}}-quarkus"

[[rules]]
id = "quarkus-config-secret"
description = "Potential secret in Quarkus configuration path"
path = '''{{quarkusConfigPathRegex}}'''
regex = '''(?i)(password|secret|token|apikey|api-key|client-secret)\s*[:=]\s*.+'''
tags = ["secret", "quarkus", "config"]

# additionalSecretRulesToml must render prevalidated [[rules]] TOML blocks.
{{{additionalSecretRulesToml}}}

# allowlistsToml must render prevalidated [[allowlists]] TOML blocks.
{{{allowlistsToml}}}
