title = "{{configTitle}}"

{{#additionalSecretPatterns}}
[[rules]]
id = "custom-secret-pattern-{{@index}}"
description = "Project-specific secret pattern"
regex = '''{{.}}'''
tags = ["secret", "custom"]
{{/additionalSecretPatterns}}

{{#allowedTestSecretPatterns}}
[[allowlists]]
description = "Allowed test secret pattern"
regexes = ['''{{.}}''']
{{/allowedTestSecretPatterns}}
