package {{basePackage}}.architecture;

import static com.tngtech.archunit.lang.syntax.ArchRuleDefinition.noClasses;

import com.tngtech.archunit.core.importer.ImportOption;
import com.tngtech.archunit.junit.AnalyzeClasses;
import com.tngtech.archunit.junit.ArchTest;
import com.tngtech.archunit.lang.ArchRule;

@AnalyzeClasses(packages = "{{basePackage}}", importOptions = ImportOption.DoNotIncludeTests.class)
class CrossCuttingConcernPlacementRuleTest {

  @ArchTest
  static final ArchRule business_core_should_not_depend_on_cross_cutting_frameworks =
      noClasses()
          .that()
          .resideInAnyPackage({{#domainPackages}}"{{.}}", {{/domainPackages}}{{#applicationPackages}}"{{.}}", {{/applicationPackages}})
          .should()
          .dependOnClassesThat()
          .resideInAnyPackage({{#forbiddenCrossCuttingDependencies}}"{{.}}", {{/forbiddenCrossCuttingDependencies}});
}
