package {{basePackage}}.architecture;

import static com.tngtech.archunit.lang.syntax.ArchRuleDefinition.noClasses;

import com.tngtech.archunit.core.importer.ImportOption;
import com.tngtech.archunit.junit.AnalyzeClasses;
import com.tngtech.archunit.junit.ArchTest;
import com.tngtech.archunit.lang.ArchRule;

@AnalyzeClasses(packages = "{{basePackage}}", importOptions = ImportOption.DoNotIncludeTests.class)
class QuarkusInterfaceAdaptersRuleTest {

  @ArchTest
  static final ArchRule resources_should_not_depend_on_domain_or_persistence_details =
      noClasses()
          .that()
          .resideInAnyPackage({{{interfaceAdapterPackagePatterns}}})
          .should()
          .dependOnClassesThat()
          .resideInAnyPackage({{{domainAndPersistencePackagePatterns}}});
}
